*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    height: 20vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 5vh;
    padding-bottom: 5vh;
    align-items: center;
}
.btn{
    height: 50px;
    border-radius: 5px;
    border: none;
    width: 85px;
    font-size: 18px;
}
.rock{
    background-color: rgb(84, 84, 247);
}
.paper{
    background-color: yellow;
}
.scissor{
    background-color: rgb(40, 201, 40);
}

.rock:hover{
    opacity: 0.6;
    transition: ease-in 0.3s;
}
.paper:hover{
    opacity: 0.6;
    transition: ease-in 0.3s;
}
.scissor:hover{
    opacity: 0.6;
    transition: ease-in 0.3s;
}

.player-img,.computer-img{
    width: 250px;
    height: 250px;
}
.play-ground{
    margin: 3vw;
}
.result{
    padding: 1vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.player h2,.computer h2{
    padding: 1vw;
    text-align: center;
}


.score-board{
    padding: 2vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: -2vw;
}

.choice{
    height: 25vh;
    margin-top: 20vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding: 2vw;
    grid-gap: 2vw 0;
}

.choice h2{
    grid-row-start: 1;
    grid-column-start: 3;
    grid-column-end: 5;
}

.re-play{
    grid-row-start: 2;
    grid-column-start: 2;
    grid-column-end: 3;
}
.decline{
    grid-row-start: 2;
    grid-column-start: 5;
    grid-column-end: 6;
}

.re-play,.decline{
    border-radius: 5px;
    border: none;
    font-size: 18px;
}
.re-play{
    background-color: rgb(94, 94, 211);
}
.decline{
    background-color: rgb(211, 201, 201);
}
.re-play:hover{
    opacity: 0.6;
    transition: ease-in 0.3s;
}
.decline:hover{
    opacity: 0.6;
    transition: ease-in 0.3s;
}
.choice h2{
    text-align: center;
}

.total{
    height: 80vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}